<%- include('partials/header') %>

<body>
  <h1>Quiz Result</h1>
  <p>Your current streak is: <%- currentStreak %></p>
  <br>
  <p>Would you like to play again?</p>
  <a href="/quiz">Start a new quiz</a>
  <a href="/">Return to homescreen</a>
</body>
</html>